[user]
	name = Mathias Lindblom
	email = ommatte@gmail.com
[color]
	ui = true
	status = auto
	branch = auto
[core]
	editor = sublime
[alias]
	log1 = log --pretty=oneline --abbrev-commit
	s = status
	cm = commit -m
	cam = commit -a -m
	cams = commit -a -S -m
	pr = pull --rebase
[push]
	default = simple
